{% extends 'main.html'%}
{% load static %}
{% block content%}

<!-- <div class="order-card">
    <h3>Table number:</h3>
    <p>No. People:</p>
    <p>Date of Booking:</p>
    <p>Customer Name</p>
    <p>Special Requests</p>
    <p>Reservation Id:</p>
</div>

<div class="order-card">
    <h3>Table number:</h3>
    <p>No. People:</p>
    <p>Date of Booking:</p>
    <p>Customer Name</p>
    <p>Special Requests</p>
    <p>Reservation Id:</p>
</div> -->

{% for reservation in reservations %}

    <div class="order-card">
            <h3>{{ reservation.customer_name}}</h3>
            <p>Reservation Date:{{reservation.reservation_date}}</p>
            <p>No. People:{{reservation.number_of_guests}}</p>
            <p>Phone Number:{{reservation.phone_number}}</p>
            <p>Special Requests:{{reservation.special_request}}</p>
            <p>Email:{{reservation.email}}</p>
    
    </div>
{% endfor %}



{% endblock content %}