{% extends 'main.html'%}
{% load static %}
{% block content%}



<section class="menu-section">
    <h1>Menu</h1>
    <button class="location-button">Find Location</button>
</section>

<section class="advertisement-section">
    <!-- Add your advertisement content here -->
    <p>This is your advertisement area.</p>
</section>

<section class="category-boxes">
    <div class="category-box" onclick="location.href='dessert-page.html';">
        <h2>Dessert</h2>
    </div>
    <div class="category-box" onclick="location.href='main-page.html';">
        <h2>Main Course</h2>
    </div>
    <a href="{% url 'appetizer' %}">
        <div class="category-box">
            <h2>Appetizer</h2>
        </div>
    </a>
    
</section>

<script>
    function myFunction(x) {
        var sidenav = document.querySelector('.sidenav');
        x.classList.toggle("change");
        sidenav.classList.toggle("show");
      }
      
</script>


{% endblock content %}
