<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policies</title>
</head>
<body>
    <h6>    Reservation Policy:
        We highly encourage our guests to make reservations in advance to ensure a seamless dining experience. Reservations can be made online through our website or by contacting our reservation desk. We reserve the right to allocate specific time slots for each reservation to accommodate all our valued patrons.
    
        Cancellation Policy:
        Should you need to cancel or modify your reservation, we kindly request that you inform us at least 24 hours in advance. This allows us to manage our seating arrangements efficiently. Failure to cancel within the stipulated time may result in a cancellation fee.
    
        Dress Code:
        To maintain a pleasant atmosphere for all guests, we enforce a smart-casual dress code. We kindly request that patrons refrain from wearing beachwear, athletic attire, or excessively casual clothing. We appreciate your cooperation in upholding the ambience of our establishment.
    
        Children Policy:
        Families are always welcome at our restaurant. We provide a children's menu and high chairs for the comfort of our younger guests. However, we request that parents ensure their children are well-behaved and considerate of fellow diners.
    
        Allergen Information:
        Our chefs are dedicated to accommodating dietary preferences and allergies. Please inform your server of any allergies or dietary restrictions, and we will do our best to customize your meal accordingly. However, we cannot guarantee a completely allergen-free environment due to the nature of our kitchen operations.
    
        Corkage Fee:
        While we offer an extensive wine selection, guests are permitted to bring their own bottle of wine. A corkage fee will be applied for each bottle brought into the restaurant. We appreciate your understanding and cooperation with this policy.
    
        Service Charge:
        A discretionary service charge may be applied to your bill. This charge is distributed among our dedicated staff to recognize their commitment to ensuring a pleasant dining experience for all our guests. Should you have any concerns about the service charge, please feel free to discuss it with our management team.
    
        Noise Policy:
        We strive to maintain a peaceful and enjoyable dining atmosphere. We kindly ask our patrons to keep noise levels to a minimum, allowing all guests to savor their meals and engage in conversation without disruption. Your cooperation is greatly appreciated.</h6>
</body>
</html>